doctype html
html(lang="en")
    head
        style
             include ./style.css
        meta( charset="utf-8")
        meta( name="viewport" content="width=device-width, initial-scale=1")
        title SoulPlay

    body
        .open
            .layer
            .layer
        section
            .header
                a(href='index.html') 
                    img(src='logo.jpg')
                ul
                    li 
                        a(href='index.html').active Home
                    li
                        a(href='index.html') About
            .bannerText
                    H2 Welcome to SoulPlay
                    H3 We are here for you
                    p This site analyzes your mental health in relation to lockdown stress and provides you with a mood-booster playlist. To get started, fill out the form below!
                    a(href='https://form.typeform.com/to/YPBN9ifC?typeform-medium=embed-snippet').typeform-share button Start Form

                
                
