doctype html
html(lang="en")
    head
        style
             include ./style.css
        meta( charset="utf-8")
        meta( name="viewport" content="width=device-width, initial-scale=1")
        title SoulPlay

    body
        .open
            .layer
            .layer
        section
            .header
                h2.class#id(name="logo") SoulPlay Logo
                
